altgraph==0.17.4
azure-core==1.30.1
azure-identity==1.16.0
azure-keyvault-secrets==4.8.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
docutils==0.21.2
idna==3.7
isodate==0.6.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
msal==1.28.0
msal-extensions==1.1.0
packaging==24.0
pefile==2023.2.7
portalocker==2.8.2
pycparser==2.22
Pygments==2.18.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.8.0
pypiwin32==223
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.3
setuptools==70.0.0
six==1.16.0
typing_extensions==4.12.0
urllib3==2.2.1
